.product {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.product img:hover {
    transform: scale(1.05);
}

.product h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.product p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #666;
}

.product p strong {
    color: #000;
}
